Fast Api
    - pip install "fastapi[standard]"

Passlib and bcrypt
    - pip install "bcrypt==4.0.1"

Email Validator
    - pip install email-validator

Sqlalchemy,psycopg2,alembic 
    - pip install sqlalchemy psycopg2-binary alembic python-dotenv